
.nn{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 30px;
}
.d-flex button{
    border-radius: 20px;
    color: white;
    background-color: rgb(0, 0, 0);
    width: 100px;
}
.d-flex input{
    width: 400px;
    border-radius: 30px;
}
.d-flex button:hover{
    background-color: red;
    
}
.container-fluid{
    background-color: rgb(202, 94, 94);
}